/* ------------------------------------- Media Query --------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 1200px){

    .Section-img-div{
        float: none;
        width: none;
        display: none;
    }


    #Section-Content{
        height: 55vh;
        margin: 5px 10px 0 10px;
    }

    .Section-para-div{
        padding: 25px;
        margin-top: 5px 30px 0 0;
        width: 100%;
    }

    .Cakes-icons div.cake-div1{
        display: inline-block;
        margin: 5px 5px 5px 5px;
        width: 45%;
    }


    div.Cakes-icons div.cake-div1 div{
        display: inline;
        width: 20%;
        height: 100%;
        margin-left: 15px;
        border-radius: 100%;
        background-color: #EBE4DAE6;
    }

    div.cake-div1 img{
        margin-top: 8px;
        margin-left: 12px;
    }

    div.Cakes-icons div.cake-div1 h2{
        display: block;
        width: auto;
        margin: 28px 100px 0 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }

    
    .Cakes-icons div.cake-div2{
        width: 45%;
        display: inline-block;
    }
    
    div.cake-div2 img{
        margin-top: 15px;
        margin-left: 8px;
    }
    
    div.Cakes-icons div.cake-div2 div{
        width: 20%;
        height: 100%;
        margin-left: 15px;
        border-radius: 100%;
        background-color: #EBE4DAE6;
    }
    
    div.Cakes-icons div.cake-div2 h2{
        display: block;
        width: auto;
        margin-top: 28px 0 0 28px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        
    }


    #SecondSection{
        background-color: rgb(236, 240, 241);
        height: 50vh;
        width: 100%;
        padding-bottom: 50px;
    }


    div#SecondSection div.Text-div{
        width: 70%;
        height: 100%;
        margin-top: 35px;
    }

    #SecondSection div.Img1-div img{
        display: none;
    }



    #SecondSection div.Img2-div img{
        display: none;
    }

    
    #SecondSection div.Img1-div{
        width: 0;
    }

    #SecondSection div.Img2-div{
        width: 0;
    }
    

    div.Text-div button.Sec2ndBtn{
        padding: 10px 50% 10px 50%;
        /* width: 80%; */
        margin-left: 20px;
        cursor: pointer;
        border: none;
        background-color: #B09C6D;
        color: white;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #Section-Content{
        height: 50vh;
        margin: 5px 10px 0 10px;
    }
    
    .Section-img-div{
        display: none;
        float: none;
        width: auto;
    }
    
    .Section-img-div img{
        display: none;
    }
}
