    <ul class="nav bg-light p-3">
        <li class="nav-item">
            <a class="nav-link text-dark fs-5 fw-bold" href="/">E store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fs-5 fw-bold" href="/contact">Contact-us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark fs-5 fw-bold" href="/admin">Feature Products</a>
        </li>

        <% if (user) { %>
            <% if (user.role[0] === "admin") { %>
                <li class="nav-item">
                    <a class="nav-link text-dark fs-5 fw-bold" href="/admin/users">users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fs-5 fw-bold" href="/admin/products">Products Stock</a>
                </li>
            <% } %>
        <li class="nav-item">
            <a class="nav-link text-dark fs-5 fw-bold" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
            Welcome <%= user?.email || "guest" %>
        </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link text-dark fs-5 fw-bold" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-5 fw-bold" href="/registration">Registration</a>
            </li>
        <% } %>
    </ul>
